<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Classes - YogaOM</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="/default/css/style.css" rel="stylesheet"/>
</head>
<body class="font-roboto bg-light-purple">
<div th:replace="fragments/header :: header"></div>
<main class="container mx-auto py-12 px-4">
    <h1 class="text-custom-purple text-4xl text-center mb-6">Class List</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div th:each="product : ${products}" class="bg-white shadow-md rounded-lg p-6 card">
            <a th:href="@{/class-detail/{id}(id=${product.id})}">
                <img th:src="@{'/default/images/' + ${product.image}}" alt="Product Image" class="w-full h-auto object-contain rounded mb-4"/>
                <h2 class="text-custom-purple text-2xl mb-2" th:text="${product.name}"></h2>
                <p class="text-custom-purple text-1xl mb-2" th:text="${product.content}"></p>
                <p class="text-custom-purple font-bold" th:text="${product.price} + ' $'"></p>
                <button onclick="alert('Class registration successful!')"
                        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">
                    Register for class
                </button>
            </a>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>